spring:
  application:
    name: ms-denuncias
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    serviceUrl:
      # FORZAMOS la dirección de Eureka en la nube
      defaultZone: "http://ms-eureka:8761/eureka/"
    register-with-eureka: true
    fetch-registry: true

security:
    oauth2:
      resourceserver:
        jwt:
          # Conexión interna a ms-auth
          jwk-set-uri: http://ms-auth:8080/oauth2/jwks

management:
  otlp:
    metrics:
      export:
        enabled: false
    tracing:
      export:
        enabled: false
