# Configuración del gateway (solo import al config-server)
spring:
  application:
    name: gateway
  config:
    import: "optional:configserver:http://ms-configserver:8888"

eureka:
  client:
    serviceUrl:
      # Conexión directa a Eureka interno
      defaultZone: "http://ms-eureka:8761/eureka/"
    register-with-eureka: true
    fetch-registry: true

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          # Usa el nombre del servicio 'ms-auth' o una variable
          issuer-uri: ${AUTH_SERVER_URI:http://localhost:9092}

management:
  otlp:
    metrics:
      export:
        enabled: false
    tracing:
      export:
        enabled: false
