spring:
  application:
    name: gateway
  config:
    # IMPORTANTE: "optional:" evita que explote si tarda en conectar
    import: "optional:configserver:http://ms-configserver:8888"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"  # O pon aquí la URL de tu frontend
            allowedMethods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS

eureka:
  client:
    serviceUrl:
      defaultZone: "http://ms-eureka:8761/eureka/"
    register-with-eureka: true
    fetch-registry: true

# Desactivamos métricas para evitar ruido en los logs
management:
  otlp:
    metrics:
      export:
        enabled: false
    tracing:
      export:
        enabled: false