name: Deploy Backend to Azure Container Apps

on:
  push:
    branches: [ deploy ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service: [gateway, ms-auth, ms-usuarios, ms-denuncias, ms-evidencias]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'
          cache: maven

      - name: Build service with Maven
        run: mvn -B -DskipTests clean package -pl ${{ matrix.service }} -am

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_DEPLOY }}

      - name: Docker Login (ACR)
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_LOGIN_SERVER_DEPLOY }}
          username: ${{ secrets.REGISTRY_USERNAME_DEPLOY}}
          password: ${{ secrets.REGISTRY_PASSWORD_DEPLOY}}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: ${{ secrets.REGISTRY_LOGIN_SERVER_DEPLOY }}/${{ matrix.service }}:${{ github.sha }}

      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: ${{ matrix.service }}
          resourceGroup: rg-denuncia-segura-v2
          imageToDeploy: ${{ secrets.REGISTRY_LOGIN_SERVER_DEPLOY }}/${{ matrix.service }}:${{ github.sha }}
          registryUrl: ${{ secrets.REGISTRY_LOGIN_SERVER_DEPLOY }}
          registryUsername: ${{ secrets.REGISTRY_USERNAME_DEPLOY}}
          registryPassword: ${{ secrets.REGISTRY_PASSWORD_DEPLOY}}
          updateConfigAndEnv: false
