name: Deploy Backend to Azure Container Apps

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    # La estrategia va al principio del trabajo
    strategy:
      fail-fast: false
      matrix:
        # Lista de tus carpetas de microservicios
        service: [ms-configServer, ms-eureka, ms-auth, ms-usuarios, ms-evidencias, ms-denuncias, gateway]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      # 1. Compilamos el proyecto (se repetirá por seguridad en cada matriz)
      - name: Build with Maven
        run: mvn -B -DskipTests clean package

      # 2. Login en Azure
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 3. Login en Docker Registry (ACR)
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # 4. Construir y Subir Imagen (Usa el Dockerfile que creaste en la carpeta)
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: ${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ matrix.service }}:${{ github.sha }}

      # 5. Desplegar a Azure Container Apps
      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: ${{ matrix.service }}
          # ¡OJO! Aquí usamos la versión V2 que creamos con éxito
          resourceGroup: rg-denuncia-segura-v2
          imageToDeploy: ${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ matrix.service }}:${{ github.sha }}